section.footer {
    background: linear-gradient(rgba(0, 0, 0, .2)), url(../pict/home-footer.png);
    height: 1000px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: $GTAlpinaFineTrialRg;
    gap: 3rem;

    .logo {
        font-size: 3em;
        color: #fff;
        font-family: $OptimusPrinceps;
        text-decoration: none;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .footer-container-left {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .find-us {
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                }
            }
        }

        hr {
            display: none;
        }

        .footer-container-right {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .feature {
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }

                    a:hover {
                        color: rgb(223, 223, 223);
                    }
                }
            }
        }
    }





    // .logo {
    //     font-size: 3em;
    //     font-family: "OptimusPrinceps";
    //     color: #fff;

    //     a {
    //         color: #fff;
    //         text-decoration: none;
    //     }
    // }

    // .footer-container {
    //     display: flex;
    //     flex-direction: row;
    //     color: #fff;
    //     column-gap: 2em;
    //     align-items: center;
    //     // background-color: red;

    //     .footer-container-left {
    //         h2 {
    //             font-weight: unset;
    //         }

    //         // .contact-us {

    //         // }

    //         .find-us {
    //             ul {
    //                 list-style-type: none;
    //             }

    //         }
    //     }

    //     hr {
    //         height: 100%;
    //     }

    //     .footer-container-right {
    //         h2 {
    //             font-weight: unset;
    //         }

    //         .feature {
    //             ul {
    //                 list-style-type: none;
    //             }
    //         }

    //         .special-thanks {}
    //     }
    // }

    // .footer-container div:not(:last-child) {
    //     margin-bottom: 4em;
    // }
}