section.offering {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 3rem;
    font-family: $GTAlpinaFineTrialRg;


    .offering-title {
        font-size: 4em;
    }

    .offering-container {
        display: grid;
        margin: auto;
        grid-template-rows: 1fr auto 3fr;
        grid-template-areas:
            'offering-side'
            'offering-head'
            'offering-main';
        color: #fff;
        height: 900px;
        width: 100%;



        .offering-side {
            background-color: #000;
            grid-area: offering-side;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3em;
            padding: 1rem;
            text-align: center;
        }

        .offering-head {
            background-color: #000;
            grid-area: offering-head;
            padding: 1rem;

            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-around;

                li {
                    font-size: 2em;

                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }

        .offering-main {
            background-color: #714E2F;
            grid-area: offering-main;
        }
    }



    // display: flex;
    // flex-direction: column;
    // row-gap: 32px;
    // margin: auto;
    // width: 70%;
    // height: 900px;
    // margin-bottom: 400px;
    // font-family: "GT Alpina Fine Trial Rg";

    // .offering-head {
    //     font-size: 3rem;
    // }

    // .offering-container {
    //     height: 100%;
    //     display: grid;
    //     grid-template-columns: 30% auto auto;
    //     grid-template-rows: 20% auto auto;
    //     grid-template-areas:
    //         'offering-side offering-head offering-head'
    //         'offering-side offering-main offering-main'
    //         'offering-side offering-main offering-main';
    //     gap: 4px;

    //     .offering-side {
    //         grid-area: offering-side;
    //         background-color: #000;
    //         color: #fff;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         font-size: 3vw;
    //         font-family: "GT Alpina Trial Lt";

    //         h1 {
    //             width: 70%;
    //         }
    //     }

    //     .offering-head {
    //         grid-area: offering-head;
    //         background-color: #000;
    //         color: #fff;
    //         padding-bottom: 24px;

    //         ul {
    //             list-style-type: none;
    //             display: flex;
    //             justify-content: space-around;
    //             font-size: 1.8vw;
    //             align-items: flex-end;
    //             height: 100%;
    //             // margin-bottom: 24px;

    //             li a {
    //                 text-decoration: none;
    //                 color: #fff;
    //             }
    //         }
    //     }

    //     .offering-main {
    //         grid-area: offering-main;
    //         background-color: #714E2F;
    //         color: #fff;
    //     }
    // }
}