section.hero {
    .navbar {
        justify-content: space-around;
        font-size: 1.2em;

        .nav-list {
            width: 50%;
            justify-content: space-around;
        }
    }

    .hero-text {
        top: 20%;
        font-size: 1em;

        h3 {
            width: 50%;
        }
    }
}