@font-face {
    font-family: "Scheherazade New";
    src: url(Font/ScheherazadeNew-Regular.ttf);
}

@font-face {
    font-family: "GT Alpina Fine Trial Rg";
    src: url(Font/GT-Alpina-Fine-Regular-Trial);

}

@font-face {
    font-family: "OptimusPrinceps";
    src: url(Font/OptimusPrinceps.ttf);
}

@font-face {
    font-family: "GT Alpina Trial Lt";
    src: url(Font/GT-Alpina-Light-Trial.woff2) format(woff2);
}

$ScheherazadeNew: "Scheherazade New";
$GTAlpinaFineTrialRg: "GT Alpina Fine Trial Rg";
$OptimusPrinceps: "OptimusPrinceps";
$GTAlpinaTrialLt: "GT Alpina Trial Lt";