section.about {
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(..//pict/about.png);
    background-position: center;
    background-size: cover;
    color: #fff;
    // font-family: variabel.$GTAlpinaFineTrialRg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    margin: auto;

    h1 {
        font-size: 2.5em;
    }

    a button {
        padding: 1rem 1.5rem;
        background-color: transparent;
        color: #fff;
        border: 2px solid #fff;
        font-size: 1.7em;
        // font-family: variabel.$GTAlpinaFineTrialRg;
        cursor: pointer;
        transition: .3s ease all;
    }

    a button:hover {
        background-color: white;
        color: #000;
    }
}