

section.membership {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    // font-family: variabel.$GTAlpinaFineTrialRg;
    gap: 2rem;

    h1 {
        font-size: 3em;
    }

    p {
        font-size: 2em;
    }

    .upgrade-membership {
        padding: 1rem;
        background-color: #000;
        border: 3px solid #000;
        font-size: 2em;
        // font-family: variabel.$GTAlpinaFineTrialRg;
        color: #fff;
        cursor: pointer;
        transition: .5s ease all;
    }

    .upgrade-membership:hover {
        background-color: #fff;
        color: #000;
    }
}